<a href="https://colab.research.google.com/github/Bencki/ML-Bootcamp-Python-AdoZ/blob/main/03_feature_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import

In [1]:
import numpy as np
import pandas as pd
import sklearn

##Załądowanie danych

In [3]:
def fetch_financial_data(company='AMZN'):
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

df_raw =fetch_financial_data()
df_raw.head()

               Open      High        Low    Close   Volume
Date
2022-01-10  3211.71  3233.230  3126.0900  3229.72  4389915
2022-01-07  3276.78  3304.865  3240.6200  3251.08  2330295
2022-01-06  3269.01  3296.000  3238.7442  3265.08  2597889
2022-01-05  3337.66  3342.525  3287.1400  3287.14  3215136
2022-01-04  3408.76  3428.000  3326.9900  3350.44  3536258

In [5]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2022-01-10 to 2017-01-12
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 59.0 KB

##Utworzenie kopii danych

In [8]:
df = df_raw.copy()
df = df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2022-01-10 to 2022-01-04
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

In [9]:
df

               Open      High        Low    Close   Volume
Date
2022-01-10  3211.71  3233.230  3126.0900  3229.72  4389915
2022-01-07  3276.78  3304.865  3240.6200  3251.08  2330295
2022-01-06  3269.01  3296.000  3238.7442  3265.08  2597889
2022-01-05  3337.66  3342.525  3287.1400  3287.14  3215136
2022-01-04  3408.76  3428.000  3326.9900  3350.44  3536258

##Generowanie nowych zmiennych

In [11]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

               Open      High        Low    Close   Volume  day  month  year
Date
2022-01-10  3211.71  3233.230  3126.0900  3229.72  4389915   10      1  2022
2022-01-07  3276.78  3304.865  3240.6200  3251.08  2330295    7      1  2022
2022-01-06  3269.01  3296.000  3238.7442  3265.08  2597889    6      1  2022
2022-01-05  3337.66  3342.525  3287.1400  3287.14  3215136    5      1  2022
2022-01-04  3408.76  3428.000  3326.9900  3350.44  3536258    4      1  2022

##Dyskretyzacja zmiennej ciągłej

In [12]:
df = pd.DataFrame(data={'height': [175., 178.5, 185., 191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [14]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [15]:
df['height_cat'] = pd.cut(x=df.height, bins=(160, 175, 180, 195), labels=['small', 'medium', 'high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [17]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

##Ekstracja cech

In [18]:
df = pd.DataFrame(data={'lang': [['PL', 'ENG'], ['GER', 'ENG', 'PL', 'FRA'], ['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [19]:
df['lang_number'] = df['lang'].apply(len)

In [20]:
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [21]:
df['PL_flag'] = df['lang'].apply(lambda x: 1 if 'PL' in x else 0)
df

                  lang  lang_number  PL_flag
0            [PL, ENG]            2        1
1  [GER, ENG, PL, FRA]            4        1
2                [RUS]            1        0

In [22]:
df = pd.DataFrame(data={'website': ['wp.pl', 'onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [23]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [24]:
new = df.website.str.split('.', expand=True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com